@model IEnumerable<MarketPractice.Entity.ProductList>

@{
    ViewBag.Title = "購物頁";
}
    
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>圖片</td>
                <td>商品名稱</td>
                <td>剩餘數量</td>
                <td>動作</td>
            </tr>
            @foreach (MarketPractice.Entity.ProductList it in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => it.imgUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(m => it.itemName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => it.left_amount) / @Html.DisplayFor(m => it.total_amount)
                    </td>
                    <td>
                        @Html.ActionLink("加入購物車", "AddCart",new { itemId = it.itemid})
                    </td>
                </tr>
            }
        </table>
    }
